/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-right: 20px;
}

  .logo-text h1 {
    font-size: 30px;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    right: 0;
    background: var(--text-color);
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .nav-menu a {
    padding: 10px 0;
    color: var(--navbar-color);
  }

  .nav-menu.active {
    display: flex;
  }

  .logo {
    margin-left: 20px;
  }

  .tagline {
    font-size: 15px;
    margin-bottom: 10px;
    }

  .btn {
    display: block;
    width: 90%;
    text-align: center;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 16px;
    background: var(--secondary-color);
    color: var(--text-color);
  }

  .btn:hover {
    background: var(--primary-color);
  }

  .book-card img {
    width: 200px;
    height: 314px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 10px;
}
}


/* =========================
   Very Small Phones (<400px)
========================= */
@media (max-width: 400px) {
  .site-footer {
    padding: 25px 10px;
  }

  .footer-text {
    font-size: 11px;
  }

  .footer-links a {
    font-size: 12px;
  }

  .footer-links p {
    font-size: 12px;
  }

  .social-icons {
    gap: 8px;
  }

  .social-icons a {
    width: 32px;
    height: 32px;
  }

  .social-icons img {
    width: 32px;
    height: 32px;
  }

  .search-form input { 
    width: 80%; 
    margin-bottom: 10px; 
}
}

/* Large Screens (1025px and above): 4 Columns */
@media (min-width: 1025px) {
  .book-grid {
    /* Define 4 equal columns */
    grid-template-columns: repeat(4, 1fr); 
    grid-template-areas: 
      "book-0  book-1  book-2  book-3"
      "book-4  book-5  book-6  book-7"
      "book-8  book-9  book-10 book-11"
      "book-12 book-13 book-14 book-15"
      "book-16 book-17 book-18 book-19"
      "book-20 book-21 book-22 book-23"
      "book-24 book-25 book-26 book-27"
      "book-28 book-29 book-30 book-31";
  }

    .book-card {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "card-image"
      "card-text";
    text-align: center;
  }

}

